@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
:root {
  --yellow: #e7e961;
  --green: #5eb8b3;
  --orange: #e97c50;
  --blue: #61a3ee;
  --pink: rgb(168, 106, 226);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: rgb(77, 76, 76);
  line-height: 28px;
}
body {
  top: 0px;
  position: relative;
  background: rgb(247, 251, 253);
  transform: top 0.5s;
}
.container-common {
  margin: 0 auto;
}
a,
a:hover {
  text-decoration: none;
}
a {
  color: rgb(168, 106, 226);
}
a:hover {
  color: rgb(133, 18, 241);
}
ul > li {
  list-style: none;
}
ul > li:last-child {
  margin-bottom: 0;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.color-yellow {
  color: var(--yellow);
}
.color-green {
  color: var(--green);
}
.color-pink {
  color: var(--pink);
}
.color-orange {
  color: var(--orange);
}
.color-blue {
  color: var(--blue);
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-menu {
  margin: 30px;
  opacity: 0;
  background-image: url("./icons/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-menu-icon {
  width: 20px;
  height: 20px;
  display: block;
}
.header-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
}
.header-nav-list {
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.header-nav-item {
  margin-right: 30px;
  z-index: 10;
}
.header-nav-link {
  z-index: 10;
}
.header-nav-item:last-child {
  margin-right: 0;
}
.header-nav-link {
  color: #accbee;
}
.heading-main {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin: 20px 0;
}
.heading-3 {
  margin: 10px 0;
  font-size: 24px;
}
.heading-4 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
}
.heading-5 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #accbee;
}
.columns {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.column-left,
.column-right {
  margin: 60px 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
.column-left {
  width: 40%;
  /*background: rgb(193, 232, 250);*/
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#accbee),
    to(#e7f0fd)
  );
  background: -o-linear-gradient(bottom, #accbee 0%, #e7f0fd 100%);
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border-radius: 5px 0 0 5px;
}
.column-left-image-block {
  border-radius: 4px;
  opacity: 0.75;
  width: 250px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#accbee),
    to(#e7f0fd)
  );
  background: -o-linear-gradient(bottom, #accbee 0%, #e7f0fd 100%);
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.column-left-image {
  /*border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  padding: 14px;*/
  width: 250px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
.column-right {
  width: 60%;
  /* background: rgb(247, 251, 253);*/
  border-radius: 0 5px 5px 0;
  padding-bottom: 100px;
}
.contacts-list,
.skills-list {
  list-style: none;
}
.contacts-item,
.skills-internal-item {
  margin-bottom: 10px;
}
.contacts-item:last-child,
.skills-internal-item:last-child {
  margin-bottom: 0;
}
.skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.skill-block-column {
  width: 50%;
}
.heading-examples {
  margin: 15px 0;
}
.heading-code-info {
  margin-bottom: 280px;
}
.code-section {
  position: relative;
}
.code-block {
  position: absolute;
  top: 60px;
  right: 0;
  opacity: 0.85;
  background: lightsteelblue;
  padding: 0 20px;
}
.code-block-code {
  max-width: 500px;
}
.courses-item,
.education-item,
.experience-item {
  margin-bottom: 10px;
}
.footer {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-github-link,
.footer-github-year {
  margin-right: 20px;
}
@media screen and (max-width: 1200px) {
  .header-nav-item {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header-nav-link {
    font-size: 14px;
    color: var(--blue);
  }
}
@media screen and (max-width: 960px) {
  body {
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#accbee),
      to(#e7f0fd)
    );
    background: -o-linear-gradient(bottom, #accbee 0%, #e7f0fd 100%);
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    font-size: 18px;
  }
  .heading-main,
  .heading-3,
  .heading-sub,
  .heading-5,
  .heading-4 {
    text-align: center;
  }
  .heading-sub {
    margin-bottom: 380px;
  }
  .heading-4 {
    font-size: 22px;
  }
  .heading-5 {
    color: var(--blue);
  }
  .heading-skills {
    text-align: left;
  }
  .header {
    flex-direction: column;
    align-items: start;
  }
  .header-menu {
    opacity: 1;
    transition: opacity 0.5s;
  }
  .header-menu.active {
    background-image: none;
    background-image: url("./icons/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .header-nav {
    opacity: 0;
    transition: opacity 0.5s;
    padding: 10px;
  }
  .header-nav.active {
    opacity: 1;
    transition: opacity 0.5s;
    padding: 10px;
  }
  .header-nav-list {
    flex-direction: column;
    margin: 0;
    align-items: start;
    margin-left: 30px;
  }
  .header-nav-item {
    margin-bottom: 10px;
  }
  .header-nav-link {
    font-size: 16px;
  }
  .columns {
    flex-direction: column;
  }
  .column-left,
  .column-right {
    width: 100%;
  }
  .column-left {
    flex-direction: row;
    background: initial;
    position: absolute;
    top: 100px;
    left: 0;
    justify-content: center;
  }
  .column-left-image-block {
    margin-right: 20px;
  }
  .column-right {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
  }
  .contacts-list {
    text-align: center;
  }
  .contacts-item {
    margin-bottom: 20px;
  }
  .heading-code-info {
    margin-bottom: 30px;
  }
  .code-block {
    position: static;
  }
  .footer {
    bottom: 10px;
  }
}

@media screen and (max-width: 540px) {
  .column-left {
    flex-direction: column;
    justify-content: center;
  }
  .column-left-image-block {
    margin: auto;
  }
  .heading-sub {
    margin-bottom: 600px;
  }
  .contacts-link .contacts-link {
    font-size: 14px;
  }
}
